:root {
  --main-color: #ffffff;
  --accent-color: #2196f3;
  --title-color: #212121;
  --accent-background-color: #2f303a;
}
body {
  font-family: "Roboto", sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
button {
  cursor: pointer;
}
/* ---------------------HEADER-----------------------*/

.header {
}
.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo-left-side {
  color: var(--accent-color);
}
.header-list {
}
.header-item {
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}
.header-contacts {
}
.header-contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-color);
}

/* ---------------------HERO-----------------------*/

.hero {
  background-color: var(--accent-background-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-color);
}
.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-color);
  background-color: var(--accent-color);
}

/* ---------------------BENEFITS-----------------------*/

.benefits {
}
.benefits-list {
}
.benefits-item {
}
.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
.benefits-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ---------------------WORK-----------------------*/

.work {
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.list {
}
.work-item {
}

/* ---------------------TEAM-----------------------*/
.team {
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.team-list {
}
.list {
}
.team-item {
}
.team-member-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.team-member-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ---------------------FOOTER-----------------------*/
.fotter {
  background-color: var(--accent-background-color);
}
.fotter-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.fotter-list {
}
.list {
}
.fotter-item {
}
.fotter-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.link {
}
.fotter-contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* ---------------------POTFOLIO-POTFOLIO-POTFOLIO-----------------------*/

/* ---------------------FILTRES-----------------------*/
.filtres-list {
}
.list {
}
.filtres-item {
}
.filtres-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.filtres-btn:hover {
  background-color: var(--accent-color);
  color: var(--main-color);
}

/* ---------------------GALLERY-----------------------*/

.gallery {
}
.gallery-list {
}
.list {
}
.gallery-item {
}
.gallery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.gallery-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
